@use '@/styles/light' as light;
@use '@/styles/dark' as dark;

.common-header {
  display: block;
  box-sizing: inherit;
  height: 4rem;
  width: 1728px;
  margin: 0 auto;
  & > .header-nav {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    & > .logo {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      font-weight: bold;
      color: var(--text1);
      font-size: 1.3125rem;
      text-decoration: none;
      font-family: 'Fira Mono', monospace;
    }
    & > .setting {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      & > .search {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        background: transparent;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        outline: none;
        border-radius: 50%;
        color: var(--text1);
        cursor: pointer;
        margin-right: 0.5rem;
      }
    }
  }
}
