@media (max-width: 1440px) {
  .home-container {
    width: 1024px;
  }
}

@media (max-width: 1919px) {
  .home-container {
    width: 1376px;
  }
}

.home-container {
  width: 1728px;
  margin: 0 auto;
  & > .article {
    &-tab {
      margin-top: 1.5rem;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
    }
    &-content {
      display: flex;
      margin-top: 2rem;
      & > main {
        flex: 1 1 0%;
        & > .list {
          display: flex;
          margin: -1rem;
          flex-wrap: wrap;
        }
      }
    }
  }
}
