$bg-page1: #121212;
$bg-page2: #121212;
$bg-element1: #1e1e1e;
$bg-element2: #1e1e1e;
$bg-element3: #252525;
$bg-element4: #2e2e2e;
$bg-element5: #f1f3f5;
$bg-element6: #f8f9fa;
$bg-element7: #252525;
$bg-element8: #0c0c0c;
$bg-invert: #fff;
$bg-inline-code: #363636;
$bg-tag: #252525;
$text1: #ececec;
$text2: #d9d9d9;
$text3: #acacac;
$text4: #595959;
$border1: #e0e0e0;
$border2: #a0a0a0;
$border3: #4d4d4d;
$border4: #2a2a2a;
$primary1: #96f2d7;
$primary2: #63e6be;
$destructive1: #ffc9c9;
$destructive2: #ffa8a8;
$button-text: #121212;
$slight-layer: rgba(255 255 255 / 10%);
$opaque-layer: rgba(0 0 0 / 85%);
$editor-footer: #2e2e2e;
$prism-bg: #1e1e1e;
$prism-default-text: #e0e6f1;
$prism-selection-bg: #383e49;
$prism-code-block-bg: #1e1e1e;
$prism-code-1: #7c858d;
$prism-code-2: #abb2bf;
$prism-code-3: #e06c75;
$prism-code-4: #d19a66;
$prism-code-5: #98c379;
$prism-code-6: #56b6c2;
$prism-code-7: #c678dd;
$prism-code-8: #61afef;
$prism-code-9: #c678dd;
$prism-line-number: #5c6370;
