@use '@/styles/dark';

.modalHeader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  background-color: dark.$primary1;
  transform: translate(-50%, -50%);
  background-color: dark.$primary1;
}
