@use '@/styles/dark';

.dropdownWrapper {
  display: flex;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  width: 6rem;
  height: 2rem;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: dark.$bg-element1;
  .dropdownItems {
    position: absolute;
    right: 0px;
    top: 100%;
    width: 10rem;
    align-items: center;
    z-index: 10;
    margin-top: 10px;
    background-color: dark.$bg-element1;
    .itemSelected {
      color: dark.$primary1;
    }
    .item {
      padding: 0.5rem 0 0.5rem 1rem;

      & + .item {
        border-top: 1px solid dark.$border4;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
